body{
    margin: 0;
    padding: 0;
}
.content{
    position: absolute;
    
}

form{
    position: absolute;
    margin-top: -16cm;
    margin-left: 50%;
    outline: none;
}
form input{
    margin: 5px;
    padding: 10px;
    width: 400px;
    border-radius: 20px;
}
#langue{
    padding: 10px;
    width: 430px;
    border-radius: 20px;
}
form button{
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    margin-left: 40%;
    cursor: pointer;
    margin-top: 10px;

}
#backgroundtwo{

}